[global]

# if mode=hotword, hotword detection is switched off;
# if mode=nlu, listed intents are ignored by the NLU
#
mode=hotword

# list all intents that should be deactivated
# during media playback:
# intents_<any-comment>=developer:intentname,developer:intentname
#
intents_1=andreasdominik:ADoSnipsOnOffDE

[secret]
